<div class = "footer">
  <div class="container py-3">
    <div class="row py-4">
      <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
        <h6 class="text-uppercase font-weight-bold mb-4">COURSES</h6>
        <ul class="list-unstyled mb-0">
          <li class="mb-2"><%= link_to("Liste des courses", races_path) %></li>
          <li class="mb-2"><%= link_to("Ajouter une course", new_race_path) %></li>
          <li class="mb-2"><%= link_to("Mes dossards", dashboard_path) %></li>
          <li class="mb-2"><%= link_to("Vendre mon dossard", new_bib_path) %></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
        <h6 class="text-uppercase font-weight-bold mb-4 ">À PROPOS</h6>
        <ul class="list-unstyled mb-0">
          <li class="mb-2"><a href="#" class="">Notre blog</a></li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
        <h6 class="text-uppercase font-weight-bold mb-4 ">RESSOURCES</h6>
          <ul class="list-unstyled mb-0">
            <li class="mb-2"><%= link_to("Se connecter", new_user_session_path) %></li>
            <li class="mb-2"><%= link_to("S'inscrire", new_user_registration_path) %></li>
          </ul>
      </div>
      <div class="col-lg-4 col-md-6 mb-lg-0">
        <h6 class="text-uppercase font-weight-bold mb-4 border-bottom border-light ">Newsletter</h6>
        <p class="mb-4 ">Suivez-vous pour être tenu informé des prochaines courses</p>
        <div class="p-1 rounded border mb-4">
          <div class="input-group">
            <input type="email" placeholder="Entrez votre adresse e-mail" aria-describedby="button-addon1" class="form-control border-0 shadow-0">
            <div class="input-group-append">
              <button id="button-addon1" type="submit" class="btn btn-link"><i class="fa fa-paper-plane"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
