<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <%= image_tag("logo-rebib-white") %>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <%= link_to "Accueil", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Courses", races_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= link_to "Ressources", "#", class:"nav-link dropdown-toggle shadow-sm mx-2", id:"navbarDropdown", data: { bs_toggle: "dropdown"}, aria: {haspopup: "true", expanded:false} %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Calcul d'allure", calcul_allure_path, class: "text-decoration-none dropdown-item" %>
            </div>
          </li>
          <% if user_signed_in? %>
            <li class="nav-item dropdown">
              <% if current_user.photo.attached? %>
                <%= cl_image_tag current_user.photo.key, class:"avatar dropdown-toggle shadow-sm bg-white mx-2", id:"navbarDropdown", data: { bs_toggle: "dropdown"}, aria: {haspopup: "true", expanded:false} %>
              <% else %>
                <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src= "http://sanjaymotels.com/wp-content/uploads/2019/01/testimony.png"/>
              <% end %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <%= link_to "Tableau de bord", dashboard_path, class: "text-decoration-none dropdown-item" %>
                  <%= link_to "Vendre un dossard", new_bib_path, class: "text-decoration-none dropdown-item" %>
                  <%= link_to "Éditer mon profil",edit_user_registration_path(current_user),class: "text-decoration-none dropdown-item" %>
                  <%= link_to "Se déconnecter", destroy_user_session_path, :method => :delete, class: "dropdown-item" %>
              </div>
            </li>
          <% else %>
            <li class="nav-item dropdown">
              <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src= "http://sanjaymotels.com/wp-content/uploads/2019/01/testimony.png"/>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <%= link_to "Sign up", new_user_registration_path, class: "text-decoration-none dropdown-item" %>
                  <%= link_to "Sign in", user_session_path, class: "text-decoration-none dropdown-item" %>
              </div>
            </li>
          <% end %>
      </ul>
    </div>
  </div>
</div>
